@media (max-width: 1326px) {
  .divcolor {
    bottom: -23rem;
  }
  .divcolor1 {
    bottom: -23rem;
  }
}
@media (max-width: 1024px) {
  .password {
    margin-left: 26rem;
  }
}
@media (max-width: 768px) {
  .password {
    margin-left: 17rem;
    font-size: 14px;
  }
  .welcome {
    font-size: 21px;
    line-height: 26px;
  }
  .password1 {
    font-size: 16px;
  }
  .already {
    font-size: 16px;
    top: 9rem;
  }
}

@media (max-width: 576px) {
  .divcolor {
    bottom: -67rem;
  }
  .divcolor1 {
    bottom: -57rem;
  }
  .passwordreset-text {
    font-size: 15px;
  }
  .Search {
    margin-top: 3rem;
  }
  .Cancel {
    margin-top: 3rem;
  }
  .images-grounp {
    width: 70%;
    margin-top: 0rem;
    margin-left: 8rem;
  }
  .Enter {
    right: 2rem;
  }
  .write {
    left: -13rem;
    font-size: 15px;
  }
  .boxshadow {
    width: 520px;
    height: 340px;
    top: 8rem;
    right: 4rem;
    left: -3rem;
  }
  .password {
    margin-left: 31rem;
  }
  .enterblog {
    width: 315px;
  }
  .signin2 {
    right: 2rem;
  }
  .Logout {
    right: 3rem;
  }
}

@media (max-width: 414px) {
  .images-grounp {
    width: 70%;
    margin-top: 0rem;
    margin-left: 4rem;
  }
  br {
    display: none;
  }
  .welcome {
    margin-top: 2rem;
    font-size: 18px;
  }
  .form-control {
    padding: 2rem;
    font-size: 14px;
  }
  .signin {
    width: 90%;
    height: 45px;
    font-size: 13px;
  }
  .password1 {
    font-size: 15px;
  }
  .already {
    font-size: 15px;
    top: 10rem;
  }
  .divcolor {
    bottom: -57rem;
    width: 241px;
    height: 115px;
  }
  .divcolor1 {
    width: 241px;
    height: 115px;
    bottom: -42rem;
  }
  .signin1 {
    margin-top: 12rem;
  }
  .Cancel {
    margin-top: 9rem;
  }
  .images-grounp1 {
    width: 400px;
    height: 400px;
  }
  .signin2 {
    right: 2rem;
  }
  .Enter {
    right: 2rem;
  }
  .write {
    left: -13rem;
    font-size: 15px;
  }
  .boxshadow {
    width: 455px;
    height: 340px;
    top: 8rem;
    right: 4rem;
    left: -3rem;
  }
  .password {
    margin-left: 18rem;
  }
  .enterblog {
    width: 315px;
  }
}
@media (max-width: 375px) {
  .password {
    margin-left: 15rem;
  }
  .passwordreset-text {
    font-size: 13px;
  }
  .signin {
    width: 263px;
  }
  .signin2 {
    right: 2rem;
  }
  .enterblog {
    width: 222px;
  }
  .Enter {
    right: 2rem;
  }
  .write {
    left: -13rem;
    font-size: 15px;
  }
  .boxshadow {
    width: 356px;
    height: 340px;
    top: 8rem;
    right: 4rem;
    left: -3rem;
  }
}
